* {
	margin:0;
    padding:0;
    box-sizing:border-box;
     }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

    $couleur-primaire: #9356DC;
    $couleur-secondaire: #FF79DA;
    $couleur-tertiaire: #99E2D0;
    $fondgris: #EAEAEA;
    $num-resto: 4;
    $couleurbtn-1: #FFF;
    $couleurbtn-2: #F5F;

    $input-url: (1:"./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
    2: "./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg",
    3: "./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",
    4: "./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    



    $num-lettre: 8;
    $anim-dur: 3000ms;
    $anim-delay: calc($anim-dur / $num-lettre);
   
    body {
        color: #353535;
        font-family: 'Roboto', sans-serif;
    }
    
    
    @keyframes contour {
        0% {stroke-dasharray: 1000px; stroke-dashoffset: 3000px;stroke-width:2;}
       80% {stroke-dashoffset: 0px; fill:$couleur-secondaire;}
       90% {stroke-opacity:0;}
       100%{fill:#000;stroke:#000; stroke-width:0.5;}
       }
    
    header {display: flex;
            align-content: center;
             justify-content: center;
             align-items: center;
             flex-direction: column;
            flex-wrap: nowrap;
            background-color :#F6F6F6; 
                      
    }
    
             
    .logo--anim {
            transform: scale(1.1);
            margin:40px 0 30px 0;
           
            @for $i from 1 through $num-lettre {
            & path:nth-child(#{$i}) {
                fill:$couleur-primaire;
                stroke:$couleur-tertiaire;
                animation: contour $anim-dur ease forwards;
                animation-delay: $anim-delay * $i;
                     }
                }
            }

    #localisation {
        font-size:1.2em;
        font-weight: 600;
        display:flex;
        align-content: center;
        flex-direction: row;
        justify-content: center;
         align-items: center;
        width:100%;
        height: 60px;
        border-top: solid 1px rgb(172, 172, 172);
       background:linear-gradient(to bottom, rgb(100, 100, 100), 1px, $fondgris);
        }

        @mixin titreh1 {
            color:black;
            font-size:180%;
            font-weight: 900;
            line-height: 1.2em;
        }

        
        @mixin typobtn {
            font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;
                padding: 5%;

                margin: 12px auto;
        }

    #presentation {
        padding:6%;
        text-align:center;

         h1{
        @include titreh1;
                    }
        h2{
            font-size:120%;
            font-weight: 500;
                }


        .btn{
            @include typobtn;
            border-radius: 10rem;
            width:250px;
            background:linear-gradient(to bottom,  $couleur-secondaire,  $couleur-primaire);
            color: white;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
                &:hover {
                    transform: scale(1.15);
                }
            }
        
    }

    #fonctionnement {
        padding: 30px 0;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
         align-content: center;
        justify-content: space-around;
         align-items: flex-start;

        h1{
            @include titreh1;
            padding-left: 20px;
            text-align:left;
        }
        .etapes {
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;  
            @include typobtn;
            border-radius: 1.5em;
            width:85%;
            height:70px;
            background:#F6F6F6;
       
        
                    &__numero {
                        font-size:90%;
                        background-color:$couleur-primaire;
                        text-align: center;
                        box-sizing: content-box;
                        padding:5px;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: white;
                        margin-left: -30px;
                        }
                
                    &__icone {
                        padding: 0 15px;
                        font-size:120%;
                    }
                    &__texte {
                        
                    }
        }
    }

    article {
        padding: 30px 0;
        background:$fondgris;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
         align-content: center;
        justify-content: center;
         align-items: flex-start;
         width:100%;

         h1{
            @include titreh1;
            padding-left: 20px;
            text-align:left;
        }

        a{
            width:100%;
            padding:16px;
        }

        .vignette-article {
            overflow:hidden;
            background-color:white;
            border-radius: 20px;
            margin: 6px 0;
            width: 100%;
            }
            
            .vignette-article__image {
            
            height: 200px;
            @for $i from 1 through $num-resto {
                &--img#{$i} {
                    background: url(map-get($input-url, $i)) no-repeat;
                    background-size: cover;
                    background-position: center;
                         }
                    }

            }
            
            &:hover {
            opacity:0.60;
            }

    }
        















    $btn-mods: (
      pink: $couleurbtn-1,
      blue: $couleurbtn-2
    );
    
    @mixin btn-mods($map) {
      @each $mod, $val in $map {
        &--#{$mod} {
          background: $val;
        }
      }
    }

    .btn {
        cursor: pointer;    
        @include btn-mods($btn-mods);
      }

      .titre {
        font-family: 'Shrikhand', sans-serif;
      }