    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

    /*animation du logo*/
    $num-lettre: 8;
    $anim-dur: 3000ms;
    $anim-delay: calc($anim-dur + $anim-dur / $num-lettre);

    /*couleurs du site*/
    $couleur-primaire: #9356DC;
    $couleur-secondaire: #FF79DA;
    $couleur-tertiaire: #99E2D0;
    $fondgris: #EAEAEA;

    /*génération des images de fond des restaurants vignettes articles*/
    $num-resto: 4;
    $input-url: (1:"./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
    2: "./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg",
    3: "./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",
    4: "./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");


        
    @keyframes contour {
        0% {stroke-dasharray: 100px; stroke-dashoffset: 300px;stroke-width:0.5;}
       80% {stroke-dashoffset: 0px; fill:$couleur-secondaire;}
       90% {stroke-opacity:0;}
       100%{fill:#000;stroke:#000; stroke-width:0.5;}
       }

       @keyframes loading {
        0% { transform: scale(1); opacity: 1;}
       99% {transform: scale(1); opacity: 1;}
       100%{ transform: scale(0); opacity: 0;}
       }

       @keyframes spinner {
        0% {stroke-dasharray: 100px; stroke-dashoffset: 3000px;stroke-width:2; transform: scale(0); opacity: 0; }
        5% {transform: scale(1); opacity: 1; stroke-opacity:0;}
        20%{fill:$couleur-primaire;}
        50% {fill:$couleur-secondaire;}
        70% {fill:$couleur-tertiaire;}
        90% {stroke-dashoffset: 0px;transform: scale(1); opacity: 1; stroke-opacity:0;}
        100%{transform: scale(0); opacity: 0;}
       }

    @keyframes spin {
        0% {transform: rotate(0deg) scale(0);}
        5% {transform: rotate(0deg) scale(1);}
        99% {transform: rotate(360deg);}
        100% {transform: scale(0); opacity: 0;}
    }

    @keyframes shadow {
        0%   {box-shadow: 5px 5px 5px #F2F2F2;opacity:1;}
        10% {box-shadow: 6px 9px 6px #C2C2C2;}
        90% {box-shadow: 8px 7px 5px #F2F2F2;}
       100% {box-shadow: 6px 5px 5px #F2F2F2; opacity:0.75}
       }
    
    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
         }
  
    body {
        color: #353535;
        font-family: 'Roboto', sans-serif;
    }

    /*chargement spinner*/
        
   .loading {text-align:center;z-index:10; width:100%; position: fixed; height:100%; animation: loading 2500ms ease forwards;}
   .spinner{
    z-index:12;
    position: absolute;
    display:inline;
    left:50%;
    top:35%;
    margin-left:-32.5px;
    transform:scale(2);
    animation: spinner 2500ms 250ms ease both;}
    .spin {
        z-index:11;
        position: absolute;
        display:inline;
        top:35%;
        left:50%;
        margin-left:-60px;
        
        background-color: $couleur-primaire;
        width: 120px;
        height: 120px;
        border-radius: 35%;
       
        animation: spin 2500ms 250ms linear forwards;}

 /*FIN chargement spinner*/
      
    header {display: flex;
             align-content: center;
             justify-content: center;
             align-items: center;
             flex-direction: column;
            flex-wrap: nowrap;
            background-color :#F6F6F6; 
                      
    }
    
             
    .logo--anim {
            transform: scale(1.1);
            margin:40px 0 30px 0;
           
            @for $i from 1 through $num-lettre {
            & path:nth-child(#{$i}) {
                fill:$couleur-primaire;
                stroke:$couleur-tertiaire;
                animation: contour $anim-dur ease forwards;
                animation-delay: $anim-delay * $i / 8;
                     }
                }
            }

    #localisation {
        font-size:1.2em;
        font-weight: 600;
        display:flex;
        align-content: center;
        flex-direction: row;
        justify-content: center;
         align-items: center;
        width:100%;
        height: 60px;
        border-top: solid 1px rgb(172, 172, 172);
       background:linear-gradient(to bottom, rgb(100, 100, 100), 1px, $fondgris);
        }

        @mixin titreh1 {
            color:black;
            font-size:180%;
            font-weight: 900;
            line-height: 1.2em;
        }

        
        @mixin typobtn {
            font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;
                padding: 5%;

                margin: 12px auto;
        }

        @mixin typotitre {
        font-family: 'Shrikhand', sans-serif; font-size:140%; font-weight: 400;
        }


    #presentation {
        padding:6%;
        text-align:center;

         h1{
        @include titreh1;
                    }
        h2{
            font-size:120%;
            font-weight: 500;
                }


        .btn{
            @include typobtn;
            border-radius: 10rem;
            width:250px;
            background:linear-gradient(to bottom,  $couleur-secondaire,  $couleur-primaire);
            color: white;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
                &:hover {
                    transform: scale(1.15);
                }
            }
        
    }

    #fonctionnement {
        padding: 30px 0;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
         align-content: center;
        justify-content: space-around;
         align-items: flex-start;

        h1{
            @include titreh1;
            padding-left: 20px;
            text-align:left;
        }
        .etapes {
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;  
            @include typobtn;
            border-radius: 1.5em;
            width:85%;
            height:70px;
            background-color:#F6F6F6;
            transition-property: background-color;
            transition-duration: 2000ms;
       
        
                    &__numero {
                        font-size:90%;
                        background-color:$couleur-primaire;
 
                        text-align: center;
                        box-sizing: content-box;
                        padding:5px;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: white;
                        margin-left: -30px;
                        } 
                
                    &__icone {
                        padding: 0 15px;
                        font-size:120%;
                    }
                    &__texte {
                        
                    }
                    &:hover {background-color: #F5EDFF};
        }
    }

    article {
        padding: 30px 0;
        background:$fondgris;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
         align-content: center;
        justify-content: center;
         align-items: flex-start;
         width:100%;

         h1{
            @include titreh1;
            padding-left: 20px;
            text-align:left;
        }

        a{
            text-decoration-line:none;
        }

        .vignette-article {
            overflow:hidden;
            background-color:white;
            border-radius: 20px;
            margin: 12px auto;
            width: 90%;
            opacity:100%;
            
            &:hover {
                animation: shadow 800ms ease alternate-reverse;}
                        }

            .vignette-article__corps{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                 justify-content: space-between;
                align-items: center;
            }
            
            .vignette-article__image {
            
            height: 200px;
            position: relative;
            @for $i from 1 through $num-resto {
                &--img#{$i} {
                    background: url(map-get($input-url, $i)) no-repeat;
                    background-size: cover;
                    background-position: center;
                         }
                    }
            }

            .vignette-article__nom {
                
                padding:15px 0 15px 15px;         
                color:black;
                & h3 {font-size:130%; padding:6px 0;}
            }

            .box--verte {
                text-align:center;
                width: 75px;
                height: 25px;      
                position: absolute;
                top:10px;
                right:20px;
                padding: 5px 4px 4px 4px;
                border-radius:2px;
                color: #008766;
                background-color:#99E2D0;
                font-size:80%;
                
             }

    }


    .coeur--anim--svg {
        margin-right:28px;
       
    }
        
    .coeur--anim--path {
        stroke-width: 1px;
        stroke:#000;
        fill:#fff;
        transition-property: fill stroke;
        transition-duration: 400ms;
         &:hover {
            fill:$couleur-primaire;
            stroke:none;
        } 
        
        }

footer {
    padding: 30px 40px;
    background:#353535;  
    color:white;

    h1{@include typotitre;}
    p{padding: 6px 0; font-size:110%;}
    a{text-decoration: none; color:white;}
}















     