    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

    /*animation du logo*/
    $num-lettre: 8;
    $anim-dur: 3500ms;
    $anim-delay: calc($anim-dur + $anim-dur / $num-lettre);

    /*couleurs du site*/
    $couleur-primaire: #9356DC;
    $couleur-secondaire: #FF79DA;
    $couleur-tertiaire: #99E2D0;
    $light-couleur-primaire:lighten($couleur-primaire,10%);
    $light-couleur-secondaire:lighten($couleur-secondaire,10%);
    $light-couleur-tertiaire:lighten($couleur-tertiaire,10%);
    $fondgris: #EAEAEA;

    /*génération des images de fond des restaurants vignettes articles*/
    $num-resto: 4;
    $input-url: (1:"./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
    2: "./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg",
    3: "./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",
    4: "./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");

    $num-plat: 10;

    $breakpoints: (
        tablet: 768px,
        desktop: 1100px,
        large: 1600px,
    );

        
    @keyframes contour {
        0% {stroke-dasharray: 100px; stroke-dashoffset: 300px;stroke-width:0.5;}
       80% {stroke-dashoffset: 0px; fill:$couleur-secondaire;}
       90% {stroke-opacity:0;}
       100%{fill:#000;stroke:#000; stroke-width:0.5;}
       }

    @keyframes loading {
        0% { transform: scale(1); opacity: 1;}
       99% {transform: scale(1); opacity: 1;}
       100%{ transform: scale(0); opacity: 0;}
       }

    @keyframes spinner {
        0% {stroke-dasharray: 100px; stroke-dashoffset: 3000px;stroke-width:2; transform: scale(0); opacity: 0; }
        5% {transform: scale(1); opacity: 1; stroke-opacity:0;}
        20%{fill:$couleur-primaire;}
        50% {fill:$couleur-secondaire;}
        70% {fill:$couleur-tertiaire;}
        90% {stroke-dashoffset: 0px;transform: scale(1); opacity: 1; stroke-opacity:0;}
        100%{transform: scale(0); opacity: 0;}
       }

    @keyframes spin {
        0% {transform: rotate(0deg) scale(0);}
        5% {transform: rotate(0deg) scale(1);}
        99% {transform: rotate(360deg);}
        100% {transform: scale(0); opacity: 0;}
    }

    @keyframes shadow {
        0%   {box-shadow: 5px 5px 5px #F2F2F2;opacity:1;}
        10% {box-shadow: 6px 9px 6px #C2C2C2;}
        90% {box-shadow: 8px 7px 5px #F2F2F2;}
       100% {box-shadow: 6px 5px 5px #F2F2F2; opacity:0.75}
       }

    @keyframes deploiement {
        0% {opacity:0; transform: translateY(50px);}
       100%{opacity:1; transform: translateY(0);}
       }

    @mixin titreh1 {
        color:black;
        font-size:180%;
        font-weight: 900;
        line-height: 1.2em;
    }

    
    @mixin typobtn {
        font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            padding: 18px 10px;
            margin: 12px auto;
    }

    @mixin typotitre {
    font-family: 'Shrikhand', sans-serif; font-size:140%; font-weight: 400;
    }

    @mixin bouton {
        cursor: pointer;
        border-radius: 10rem;
        width:250px;
        background:linear-gradient(to bottom,  $couleur-secondaire,  $couleur-primaire);
        color: white;
        transform: scale(1);
        box-shadow: 4px 4px 6px #aaa;
        opacity:1;
        transition: transform, box-shadow, background;
        transition-duration: 400ms;
            &:hover {
                transform: scale(1.15);
                box-shadow: 6px 6px 8px rgb(116, 116, 116);
                background:linear-gradient(to bottom,  $light-couleur-secondaire,  $light-couleur-primaire);
            
            }
        }

    @mixin tablet {
            @media screen and (min-width:map-get($breakpoints, tablet)){
              @content;
            }
          }
    @mixin desktop {
            @media screen and (min-width:map-get($breakpoints, desktop)){
              @content;
            }
          }
    @mixin large {
            @media screen and (min-width:map-get($breakpoints, large)){
              @content;
            }
          }
          
    @mixin medium-screen {
            @media screen and (min-width: map-get($breakpoints, medium)) {
              @content;
            }
          }
    
    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
         }
  
    body {
        color: #353535;
        font-family: 'Roboto', sans-serif;
    }

    /*chargement spinner*/
        
   .loading {text-align:center;z-index:10; width:100%; position: fixed; height:100%; animation: loading 2500ms ease forwards;}
   .spinner{
    z-index:12;
    position: fixed;
    display:inline;
    left:50%;
    top:35%;
    margin-left:-32.5px;
    transform:scale(2);
    animation: spinner 2500ms 250ms ease both;}
    .spin {
        z-index:11;
        position: fixed;
        display:inline;
        top:35%;
        left:50%;
        margin-left:-60px;
        
        background-color: $couleur-primaire;
        width: 120px;
        height: 120px;
        border-radius: 35%;
       
        animation: spin 2500ms 250ms linear forwards;}

 /*FIN chargement spinner*/
      
    header {display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: nowrap;
            background-color :#F6F6F6; 
                      
    }

    nav {display: flex;
        width:100%;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    
        & i{font-size:2em;
        color:black;
                    }
                }
    
             
    .logo--anim {
            transform: scale(1.1);
            margin:40px 0 30px 0;
           
            @for $i from 1 through $num-lettre {
            & path:nth-child(#{$i}) {
                fill:$couleur-primaire;
                stroke:$couleur-tertiaire;
                animation: contour $anim-dur ease forwards;
                animation-delay: calc($anim-delay * 2 * $i / 8);
                     }
                }
            }

    #localisation {
        font-size:1.2em;
        font-weight: 600;
        display:flex;
        align-content: center;
        flex-direction: row;
        justify-content: center;
         align-items: center;
        width:100%;
        height: 60px;
        border-top: solid 1px rgb(172, 172, 172);
       background:linear-gradient(to bottom, rgb(100, 100, 100), 1px, $fondgris);
        }


              

    #presentation {
        padding:6%;
        text-align:center;
        @include desktop {
            padding: 2%;
        }

         h1{
        @include titreh1;
                    }
        h2{
            font-size:120%;
            font-weight: 500;
                }


        .btn{
            @include typobtn;
            @include bouton;
        }   
    }

    #fonctionnement {
        padding: 30px 0;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
         align-content: center;
        justify-content: space-around;
         align-items: flex-start;
         @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
         }

        h1{
            @include titreh1;
            padding-left: 20px;
            text-align:left;
            @include tablet {
                padding-left: 50px;}
        }
        .etapes {
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;  
            @include typobtn;
            border-radius: 1.5em;
            width:85%;
            height:70px;
            background-color:#F6F6F6;
            transition-property: background-color;
            transition-duration: 2000ms;
            @include tablet {
                width: 28%;} 
            @include desktop {
                width:20%;
            }    
        
                    &__numero {
                        font-size:90%;
                        background-color:$couleur-primaire;
 
                        text-align: center;
                        box-sizing: content-box;
                        padding:5px;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: white;
                        margin-left: -30px;
                        } 
                
                    &__icone {
                        padding: 0 15px;
                        font-size:120%;
                    }
                    &__texte {
                        
                    }
                    &:hover {background-color: #F5EDFF};
        }
    }

    article {
        padding: 30px 0;
        background:$fondgris;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
         align-content: center;
        justify-content: center;
         align-items: flex-start;
         width:100%;
         @include tablet {
            flex-direction: row;
            flex-wrap: wrap;}

         h1{
            @include titreh1;
            padding-left: 20px;
            text-align:left;
            @include tablet {
                align-self: flex-start;
                width:100%;
                padding-left:50px;
            }
        }

        a{
            text-decoration-line:none;
        }

        .vignette-article {
            overflow:hidden;
            background-color:white;
            border-radius: 20px;
            margin: 12px auto;
            width: 90%;
            opacity:100%;
            @include tablet {width:40%;}
            @include desktop {width:20%;}
            
            &:hover {
                animation: shadow 800ms ease alternate-reverse;}
                        }

            .vignette-article__corps{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                 justify-content: space-between;
                align-items: center;
            }
            
            .vignette-article__image {
            
            height: 200px;
            position: relative;
            @for $i from 1 through $num-resto {
                &--img#{$i} {
                    background: url(map-get($input-url, $i)) no-repeat;
                    background-size: cover;
                    background-position: center;
                         }
                    }
            }

            .vignette-article__nom {
                
                padding:15px 0 15px 15px;         
                color:black;
                & h3 {font-size:130%; padding:6px 0;}
            }

            .box--verte {
                text-align:center;
                width: 75px;
                height: 25px;      
                position: absolute;
                top:10px;
                right:20px;
                padding: 5px 4px 4px 4px;
                border-radius:2px;
                color: #008766;
                background-color:#99E2D0;
                font-size:80%;
                
             }

    }


    .coeur--anim--svg {
        margin-right:28px;
       
    }
        
    .coeur--anim--path {
        stroke-width: 1px;
        stroke:#000;
        fill:transparent;
        transition-property: fill, stroke;
        transition-duration: 400ms;
         &:hover {
            fill:$couleur-primaire;
            stroke:none;
        } 
        
        }

footer {
    padding: 30px 40px;
    background:#353535;  
    color:white;
    h1{@include typotitre;}
    p{padding: 6px 0; font-size:110%;}
    a{text-decoration: none; color:white;}
    @include tablet {
        text-align: center;}
    
}

.deco {
            
    height: 260px;
    width:100%;
    @for $i from 1 through $num-resto {
        &--resto#{$i} {
            background: url(map-get($input-url, $i)) no-repeat;
            background-size: cover;
            background-position: center;
                 }
            }
    }

    .menu {
        display:flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        background:$fondgris;
        margin-top: -30px;
        border-radius: 25px 25px 0px 0px;
        position:relative;
        width: 100%;
        padding:10px;
        overflow:hidden;

        &__titre {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            @include tablet {
            justify-content: space-evenly;}
        }

        & h1{@include typotitre; color: black; font-size:180%; padding-left:10px;}

        &__plato {  margin-top:30px;
                    padding-left:10px;
                    font-size:110%;
                    @include tablet {
                        margin: 30px auto 6px auto;} 
        
        }

        & hr {  background:$couleur-tertiaire;
                height: 3px;
                width:45px;
                border:none;
                margin: 4px 10px;
                @include tablet {
                    margin: 2px auto 16px auto; }

                }

        & .btn{
            @include typobtn;
            @include bouton;
            text-align:center;
            margin: 30px auto;
        } 



        &__plats {
            height:70px;
            position:relative;
            background-color:white;
            box-shadow: 4px 4px 6px #aaa;
            border-radius: 15px;
            padding:14px;
            margin: 8px auto;
            width: 100%;
            transition: padding-right 400ms ease-in-out;
            opacity:0;
            overflow: hidden;
            @include tablet {
                width: 48%;}
            @include desktop {
                width: 28%;} 
            @include large {
                width: 20%;} 

                        
            &:hover {
              padding-right: 80px;
            }
            &:hover .menu__plats--valide {
              opacity: 1;
              transform: translate(-60px);
            }
            &:hover .fa-circle-check {
              transform: rotate(360deg) ;
            }

            &--intitule {                                     
                & h3 {color: black;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;}
            }

            &--description {
                display:flex;
                justify-content: space-between;
                font-size:110%;
                & p { overflow:hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;}
            }

            &--valide {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $couleur-tertiaire;
                font-size:150%;
                width: 60px;
                border-radius:0px 15px 15px 0;
                height: 70px;
                position: absolute;
                padding: 20px;
                right: -60px;
                top: 0;
                opacity: 0;
                transition: transform 330ms ease-in-out;
                & i {
                    color: #fff;
                    transition: transform 500ms ease-in-out;
                     }
            }

            @for $i from 1 through $num-plat {
                &--numero#{$i} {
                    animation: deploiement 3000ms ease forwards;
                    animation-delay: calc($anim-delay * $i / $num-plat);
                         }
                    }
                
           
        }

    }












     