.menu {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background:$fondgris;
    margin-top: -30px;
    border-radius: 25px 25px 0px 0px;
    position:relative;
    width: 100%;
    padding:10px;
    overflow:hidden;

    &__titre {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        @include tablet {
        justify-content: space-evenly;}
    }

    & h1{@include typotitre; color: black; font-size:180%; padding-left:10px;}

    &__plato {  margin-top:30px;
                padding-left:10px;
                font-size:110%;
                @include tablet {
                    margin: 30px auto 6px auto;} 
    
    }

    & hr {  background:$couleur-tertiaire;
            height: 3px;
            width:45px;
            border:none;
            margin: 4px 10px;
            @include tablet {
                margin: 2px auto 16px auto; }

            }

    & .btn{
        @include typobtn;
        @include bouton;
        text-align:center;
        margin: 30px auto;
    } 



    &__plats {
        height:70px;
        position:relative;
        background-color:white;
        box-shadow: 4px 4px 6px #aaa;
        border-radius: 15px;
        padding:14px;
        margin: 8px auto;
        width: 100%;
        transition: padding-right 400ms ease-in-out;
        opacity:0;
        overflow: hidden;
        @include tablet {
            width: 48%;}
        @include desktop {
            width: 28%;} 
        @include large {
            width: 20%;} 

                    
        &:hover {
          padding-right: 80px;
        }
        &:hover .menu__plats--valide {
          opacity: 1;
          transform: translate(-60px);
        }
        &:hover .fa-circle-check {
          transform: rotate(360deg) ;
        }

        &--intitule {                                     
            & h3 {color: black;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;}
        }

        &--description {
            display:flex;
            justify-content: space-between;
            font-size:110%;
            & p { overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;}
        }

        &--valide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $couleur-tertiaire;
            font-size:150%;
            width: 60px;
            border-radius:0px 15px 15px 0;
            height: 70px;
            position: absolute;
            padding: 20px;
            right: -60px;
            top: 0;
            opacity: 0;
            transition: transform 330ms ease-in-out;
            & i {
                color: #fff;
                transition: transform 500ms ease-in-out;
                 }
        }

        @for $i from 1 through $num-plat {
            &--numero#{$i} {
                animation: deploiement 3000ms ease forwards;
                animation-delay: calc($anim-delay * $i / $num-plat);
                     }
                }
            
       
    }

}

